.botton{
    border:1px black solid;
    width: 24.43%;
    height:19.2%;
    color: white;
    background-color: rgb(82, 82, 82);
    display:inline-block;
}
.botton:hover{
    color: black;
    border:1px white solid;
    cursor:pointer;
}
.equal{
    background-color: royalblue;
    
    float:right;
    height: 39.3%;
    display :flex ;

}
.ac{
    background-color: firebrick;
    width: 49.4%;
}
.operator{
    background-color: rgb(119, 119, 119);
}
.zero{
    width: 49.4%;
}
#content{
   text-align: center;
  margin: auto;
user-select: none;
    
}
